/* Customize the nav-justified links to be fill the entire space of the .navbar */
.navbar ul {
    width: 100%
    list-style-type: none;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    width: 25%;
    display: inline;
    float: left;
    border-right: 1px solid #333;
}

.navbar li:last-child {
    border-right: none;
}

.navbar li a {
    display: block;
    text-align: center;
    padding: 20px 20px;
}

.navbar li a:hover{
    background-color: #111
}